.filter {
  display: flex;
  flex-direction: column;
  border: $border;
  border-radius: $radius;
  height: fit-content;
  gap: 12px;
  padding: 20px;
  
  .couple {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    .secondry {
      font-size: 14px !important;
      padding-block: 5px;
    }
  }
  input,
  button {
    width: 80px;
  }
}

.filterIcon {
  color: $gray;
  margin-right: auto;
  margin-right: 12px;

  &:hover {
    color: $primary-hover;
  }
}

.open {
  color: $primary;
}
