.filter {
  display: flex;
  border-radius: $radius;
  height: fit-content;
  padding-block: 20px;
  justify-content: space-between;
  background: rgb(215 215 215 / 11%);
  margin-bottom: 26px;
  flex-wrap: wrap;
  gap: 12px;
  .wing{
    flex-wrap: wrap;
    display: flex;
    gap: 12px;
    
  }
  .couple {
    flex-wrap: wrap;
    display: flex;
    gap: 12px;
    justify-content: space-evenly;
    .secondry {
      font-size: 14px !important;
      padding-block: 5px;
    }
    .search {
      position: relative;

      .searchbar {
        transition: 300ms;
        &:focus {
          width: 184px !important;
          &::placeholder {
            opacity: 1;
          }
        }
        
      }
      .icon {
        position: absolute;
      }
    }
  }
  input,
  // button,
  select {
    width: 150px !important;
  }
}

.filterIcon {
  color: $gray;
  margin-right: auto;
  margin-right: 12px;

  &:hover {
    color: $primary-hover;
  }
}

.open {
  color: $primary;
}
