.filter {
  display: flex;
  flex-direction: column;
  border: $border;
  border-radius: $radius;
  height: fit-content;
  gap: 12px;
  padding: 20px;
  .couple {
    display: flex;
    gap: 12px;
    justify-content: space-between;
  }
  input,button{
    width: 80px;
  }
}
