.modal-enter-active,
.modal-leave-active {
  transition: all 250ms ease;
}
.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  transform: scale(1.1);
}

.form-enter-active,
.form-leave-active {
  transition: all 250ms ease;
}
.form-enter-from,
.form-leave-to {
  opacity: 0;
  transform: scale(1.1);
}
