$containerWidth: 92%;
$primary: #167CBB;
$primary-hover: #00629aa3;
$secondry: #3cb7ff9b;
$gray: #757575;
$radius: 10px;
$border: rgba(56, 56, 56, 0.181) 1px solid;
$comperendGap: 80px;
$font: "Inter", sans-serif;
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
