$containerWidth: 80%;
$primary: #158bce;
$primary-hover: #00619a;
$secondry: #3cb7ff9b;
$gray: #a9a9a9;
$radius: 15px;
$border: rgba(56, 56, 56, 0.181) 1px solid;
$comperendGap: 80px;
$font: "Inter", sans-serif;
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
